---
import Design from '../components/Global/Design';
import Hero from '../components/Home/Hero';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<Hero />
	<section class="flex flex-col gap-4 px-4 mt-8">
		<Design title="Web Design" imageName="web-design-small"/>
		<Design title="App Design" imageName="app-design"/>
		<Design title="Graphic Design" imageName="graphic-design"/>
	</section>
</Layout>

