---
import ContactCTA from "../components/Global/ContactCTA";
import Design from "../components/Global/Design";
import Hero from "../components/Home/Hero";
import Workflow from "../components/Home/Workflow";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Designo - Creative Web Agency">
  <section class="px-0 sm:px-4 lg:px-8 lg:min-h-[640px] lg:mt-10 relative">
    <Hero />
    <div
      class="hidden lg:block bg-[url(/assets/shared/desktop/bg-pattern-leaf.svg)] h-[594px] w-[1006px] absolute bg-cover left-0 top-[300px] -z-10"
    >
    </div>
  </section>
  <section class="px-4 lg:px-8 mt-20 md:mt-[10rem]" id="projects">
    <div
      class="flex flex-col gap-4 md:gap-8 lg:gap-4 lg:grid lg:grid-cols-2 container mx-auto"
    >
      <Design
        isBig={true}
        title="Web Design"
        imageName="web-design-small"
        href="web-design"
      />
      <Design
        isBig={false}
        title="App Design"
        imageName="app-design"
        href="app-design"
      />
      <Design
        isBig={false}
        title="Graphic Design"
        imageName="graphic-design"
        href="graphic-design"
      />
    </div>
  </section>
  <section
    class="px-8 lg:px-12 md:px-4 mt-24 md:mt-[10rem] 2xl:mt-[12rem] relative"
  >
    <div class="flex flex-col gap-20 lg:grid lg:grid-cols-3 container mx-auto">
      <Workflow />
    </div>
    <div
      class="hidden lg:block bg-[url(/assets/shared/desktop/bg-pattern-leaf.svg)] h-[594px] w-[1006px] absolute bg-cover right-0 top-[150px] -scale-100 -z-10"
    >
    </div>
  </section>
  <section class="px-4 lg:px-8 mt-24 md:mt-[10rem] relative z-10">
    <ContactCTA />
  </section>
</Layout>
