---
import ContactCTA from "../components/Global/ContactCTA";
import Locations from "../components/Locations/Locations";
import Layout from "../layouts/Layout.astro";

---

<Layout title="Designo - Our Locations">
	<section class="sm:rounded-xl lg:mt-10 flex flex-col gap-10 [&>div:nth-child(odd)]:lg:grid-cols-[2fr_1fr] [&>div:nth-child(even)]:lg:grid-cols-[1fr_2fr] [&>div:nth-child(odd)]:xl:grid-cols-[3fr_1fr] [&>div:nth-child(even)]:xl:grid-cols-[1fr_3fr] [&>div:nth-child(odd)>img]:lg:order-2 [&>div:nth-child(even)>img]:lg:order-1 [&>div:nth-child(even)>div]:lg:order-2 container mx-auto px-0 sm:px-4 lg:px-8">
		<Locations />
	</section>
    <section class="mt-24 md:mt-[10rem] relative z-10 container mx-auto px-4 lg:px-8">
		<ContactCTA />
	</section>
</Layout>