---
import Footer from "../components/Global/Footer";
import Navbar from "../components/Global/Navbar";

import '@fontsource/jost/400.css';
import '@fontsource/jost/500.css';
import '@fontsource/jost/700.css';

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/designo-website/favicon-32x32.png"
    />
    <!-- <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;500;700&display=swap"
      rel="stylesheet"
    /> -->
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="Designo - Creative Web Agency here to fulfill all of your creative needs"
    />
    <title>{title}</title>
  </head>
  <body>
    <header>
      <Navbar client:load />
    </header>
    <main>
      <slot />
    </main>
    <footer>
      <Footer />
    </footer>
  </body>
</html>
